body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    font-family: 'Silkscreen', cursive;
    font-size: 5rem;
    color: darkred;
    padding-top: 100px;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    
}